@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
}

/* shared styles */
body {
  /* margin: 20px 120px 20px; */

}
.pink-letter {
  color: #ff42a5;
}

.title {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.gray-light-text {
  color: #534c64;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 10px;
}


/* Nav bar style start */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 20px 120px 20px;
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}



.pink-letter {
  color: #ff42a5;
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  color: #3c354f;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

div a {
  text-decoration: none;
  margin-left: 15px;
 

 
}

.red-a{
  color: red;
}
.follow-btn {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  width: 262px;
  height: 40px;
  border: none;
}
button > i {
  color: red;
  margin-left: 5px;
}

/* navbar style end */

/* banner section start */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 20px;
  margin: 20px 120px 20px;
}
.banner-title {
  color: #0b0223;
  text-align: center;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.banner-title-letter {
  text-align: center;
  font-family: Work Sans;
  font-size: 95px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.sign-in-btn {
  color: white;
  padding: 21px 40px;
  border: none;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
}

.go-btn {
  padding: 21px 40px;
  border-radius: 48px;
  border: none;
  color: white;
  background: #4ec5f7;
}

.banner-right > img {
  height: 520px;
  width: 600px;
}



/* online games section start */
.online-games-container{
  margin: 20px 120px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  
}
.online-games-content{
  text-align: center;

}

.animation:hover{
  mask-image: url(/images/Frame.png);
}

.online-games-title{
  color: #0B0223;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
margin-bottom: 5px;

}

.tectangle-img{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


/* play section start */
.play-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 250px;
  margin: 20px 120px 20px;
  

}


.play-content{
  text-align: right;
  
}
.play-title{
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px;
}
.corner-img{
  position: relative;
  top:-280px;
  left: -150px;
}
.flex-icon{
  
display: flex;
justify-content: center;
align-items: center;
gap: 5px;

}
.icons-section{
display: flex;
text-align: center;
gap: 15px;

margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;

}
.icons-text{
  color: #0B0223;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.flex-icon:hover{
  border: 2px solid red;
  border-radius: 50px;
  color: red;
  padding: 10px;
}

/* footer section start */
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer-section{
  text-align: center;
  background-color: rgba(11, 2, 35, 1);
  padding: 10px;

}
.footer-title{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}


.footer-content a{
  color: white ;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.footer-sub-title{
  color:white;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-icons{
  color: firebrick;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  gap: 50px;
  
}
.footer-a{
  color: white;
  margin: 10px;
}





/* Responsive section */
/* Mobile view */
@media screen and (max-width: 576px) {
  header , main {
    margin: 10px 100px 10px;
  }
  footer{
    background-size: cover;
  }
  nav {
    flex-direction: column;
  }
  .nav-right {
    flex-direction: column;
  }

  .banner-container {
    flex-direction: column;
  }

  .banner-right > img {
    height: 350px;
    width: 400px;
  }
  .tectangle-img{
    flex-direction: column;
  }
  .play-section{
    flex-direction: column;
  }

  .icons-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
  
  .icons-section{
    flex-direction: column;
    padding:30px;
  }


}





/* Tablet view */
@media screen and (min-width: 577px) and (max-width: 992px) {
  header,main {
    margin: 20px 100px 10px;

  }
  footer{
    margin:0;
  }

  nav {
    /* flex-direction: column; */
    gap: 20px;
  }
  .nav-right {
    flex-direction: column;
  }

  .banner-container {
    flex-direction: column;
  }
  .tectangle-img{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
  }

  .play-section{
    flex-direction: column;
  }
  
  .icons-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
  }
  
}
